In [6]:
import pandas as pd
import matplotlib.pyplot as plt
rec={
    "Name":["Kaustav", "Namrata", "Soham", "Rimjhim", "Tanmoy", "Aqib"],
    "Roll no.":[6,16,8,32,4,9]
}
dt=pd.DataFrame(rec)
dt

      Name  Roll no.
0  Kaustav         6
1  Namrata        16
2    Soham         8
3  Rimjhim        32
4   Tanmoy         4
5     Aqib         9

In [7]:
dt.to_csv("Class.csv")